@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    --largura-pagina: 940px;
    --laranja-mostarda: #C78C19;

    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width:480px) {
    body {
        --largura-pagina: 100%
    }
}

header {
    background-color: #bbb;
    padding: 1.25em 0;
}

.container {
    position: relative;
    width: var(--largura-pagina);
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 1em;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover {
    color: var(--laranja-mostarda);
    text-decoration: underline;
}

footer {
    background-image: url('./assets/img/bg.jpg');
    background-color: #1b1d1c;
    text-align: center;
    padding: 40px 0;
}

.copyright {
    color: #fff;
    font-size: 0.75em;
    margin-top: 1em;
}

@media screen and (max-width:480px) {
    nav {
        position: static;
    }
}
