#listaProdutos {
    width: var(--largura-pagina);
    margin: 0 auto;
    padding: 50px 0;
}

#listaProdutos li {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 25px;
    border: medium solid #000;
    border-radius: 1em;
}

#listaProdutos li:hover {
    border-color: var(--laranja-mostarda);
    font-size: 1.25em;
}

#listaProdutos h2 {
    font-size: 2em;
    font-weight: bold;
}

.produto-preco {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0.5em;
}

.produto-descricao {
    font-size: 1.2em;
}
